

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 12px;
    color: white;

}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #081543;
    height: 7rem;
    width: 100vw;
    padding: 1.5rem 2.0rem;
    box-shadow: 0px 3px 10px #081543 ;
    


}

.logo{
    width: 6rem;
}


.itens{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 1rem;
    color: white;
    
}

.itens li{
    margin: 0 15px;
}

.itens li a{
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.login-button button{
    border: none;
    background-color: #1ad1b9;
    padding: 10px 15px;
    border-radius: 5px;

}

.login-button button a{
    text-decoration: none;
    font-size: 1.1rem;
    text-decoration: none;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
    background-color: #081543;
}


@media (max-width:730px){
    .mobile-menu-icon{
        display: block;
    }
    .menu{
        display: none;
    }
    
   .login-button{
        display: none;
    }
  

    .mobile-menu-icon button{
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
    }   

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu ul li{
        display: block;
        padding-top: 1.2rem;

    }
 
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button{
        width: 100%;
    }

    .open{
        display: block;
    }

}